/*  Margins*/


/*  Bottom  */
$mb-0-3:3px;
$mb-0-4:4px;
$mb-0-8:8px;
$mb-0-12:12px;
$mb-0-16:16px;
$mb-0-24:24px;
$mb-0-36:40px;
$mb-0-48:48px;



/*    CXXXXXX*/
$mb-1-5:5px;
$mb-0-75:.75rem;
$mb-2:2rem;
$mb-0-25:.25rem;
$mb-0-5:5px;
$mb-2-5:2.5rem;